<div class="jumbotron mt-4">
    <h1 class="display-4">Aplicación de notas</h1>
    <p class="lead"> Esta es una aplicación de notas personales</p>
    <hr class="my-4">
    <p>Crea tu cuenta y empieza a usar la aplicación de notas personales interactiva!</p>
    <a href="/user/signup" class="btn btn-primary btn-lg">Join!</a>
</div>